.footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 96%;
    background-color: gray;
    color: white;
    padding: 20px;
}

