.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #121214;
}

.login > h1{
    color: white;
}

.login > img {
    width: 145px;
    border-radius: 100%;
}

.login > a {
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 99px;
    background-color: #8257e6;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

a:hover {

    background-color: #9b66ec96;
}